<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plainolnotes2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".NotesProvider"
            android:authorities="com.example.plainolnotes2.notesprovider"
            android:exported="false" /> <!-- means content provider will only be used within the current application -->

        <!-- Editor Activity -->
        <activity
            android:name=".EditorActivity"
            android:label="@string/title_activity_editor"
            android:parentActivityName=".MainActivity" > <!-- notice the warning that says parentActivity is only supported by Android API 16+ -->
            <!-- Because we selected our app min to 15, the meta-data is created as well -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.plainolnotes2.MainActivity" />
        </activity>
    </application>

</manifest>
